<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

     <!--{% include header.html %}-->

    <div class="page-content">
      <div class="wrapper">
        <h1><center>BOO HAS COME</center></h1>
          <center><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/21686402_10213738815845493_2921490882816028263_n.jpg?oh=ff8113aeed08a8e6368f64571482f1e4&oe=5A814A5F" alt="Mountain View";></center>
        <!--{{ content }}-->
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
