<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
<style>
h1 {
    color: green;
    font-family: 'Creepster', cursive;
    font-size: 99px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

</style>
</head>

<ul>
  <li><a href="http://boothebuhund.com">Home</a></li>
  <li><a href="http://boothebuhund.com/news">News</a></li>
  <li><a href="http://boothebuhund.com/contact">Contact</a></li>
  <li><a href="http://boothebuhund.com/about">About</a></li>
</ul>

<body>

<h1><center>BOO HAS COME</center></h1>
<center><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/21686402_10213738815845493_2921490882816028263_n.jpg?oh=ff8113aeed08a8e6368f64571482f1e4&oe=5A814A5F" alt="Mountain View";></center>

</body>
</html>
